<!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="">Back to home page</a>
</nav>
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Weather detail:- </span>
</nav>
<div class="container">
  <div class="widget">
    <div class="details">
      <div class="temperature">{{(this.weatherInfo?.temp)}}°</div>
      <div class="summary">
        {{this.weatherInfo?.description}}
        <!-- <p class="summaryText">{{this.weatherInfo?.description}}</p> -->
      </div>
      <div class="precipitation">Humidity: {{this.weatherInfo?.humidity}}%</div>
      <div class="wind">Wind: {{this.weatherInfo?.wind}} mph</div>
      <div class="precipitation">
        Location: {{ this.weatherInfo?.city }}, {{this.weatherInfo?.country }}.
      </div>
      <div class="precipitation">
        {{this.weatherInfo?.date}}
      </div>
    </div>
    <div class="pictoBackdrop"></div>
    <div class="pictoFrame"></div>
    <div class="pictoCloudBig"></div>
    <div class="pictoCloudFill"></div>
    <div class="pictoCloudSmall"></div>
    <div class="iconCloudBig"></div>
    <div class="iconCloudFill"></div>
    <div class="iconCloudSmall"></div>
  </div>
</div>
