
<nav class="navbar navbar-expand-lg navbar-dark default-color">
    <!-- <h3>Countries Grid </h3> -->
    <h4>Click on any row for Weather Detail</h4>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
</nav>
<ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="countryList"
    [columnDefs]="columnDefs"
    id="myGrid"
    [rowSelection]="rowSelection"
    (selectionChanged)="onSelectionChanged($event)"
    (gridReady)="onGridReady($event)"
    >
    
    
</ag-grid-angular>